apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: monitor-local-disk
  namespace: monitoring-ns
provisioner: k8s.io/minikube-hostpath
reclaimPolicy: Retain
volumeBindingMode: Immediate

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: monitor-pvc
  namespace: monitoring-ns
spec:
  resources:
    requests:
      storage: 2Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce

