name: Run & Test Kuberetes Cluster

on: [push]

jobs:
  deploy-kubernetes-cluster-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install script requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r db-requirements.txt

      - name: Set up minikube
        uses: medyagh/setup-minikube@latest

      - name: Verify cluster setup correctly
        run: kubectl get pods -A

      - name: Set up k8s cluster
        run: bash ./setup_k8s_cluster
        env:
          POSTGRES_PASS: ${{ secrets.POSTGRES_PASS }}

      - name: Testing database cluster, uploading CSV data to database cluster
        run: |
          kubectl wait --for=condition=Ready cluster/sensor-db-ha --timeout=240s

          # Open tunnel
          kubectl port-forward svc/sensor-db-ha-rw 5432:5432 &
          for i in {1..30}; do
              if nc -z 127.0.0.1 5432; then
                  echo "Tunnel is open!"
                  break
              fi
              sleep 0.5
          done

          bash ./scripts/dataset_download.sh
        env:
          POSTGRES_PASS: ${{ secrets.POSTGRES_PASS }}

      - name: Testing monitoring deployment, send report generation request to API, send request to UI
        run: |
          kubectl wait --for=condition=Ready pod -l app=monitoring-app --namespace=default --timeout=240s

          # Open tunnel
          kubectl port-forward svc/monitoring-service 8001:8001 8000:8000 &
          for i in {1..30}; do
              if nc -z 127.0.0.1 8001; then
                  echo "Tunnel is open!"
                  break
              fi
              sleep 0.5
          done

          # Report generation request
          curl -o output.json -X POST http://127.0.0.1:8001 -H "Content-Type: application/json" -d '{"table_name": "iot_pond_1"}'

          # Monitoring API request
          curl -o output.json http://127.0.0.1:8001

          # Evidently UI request, checks if the project was created successfully
          curl -o output.json http://127.0.0.1:8000/api/projects/search/Aquaponics%20Monitoring
      