name: Run & Test Kuberetes Cluster

on: [push]

jobs:
  deploy-kubernetes-cluster-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install script requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r db-requirements.txt

      - name: Set up minikube
        uses: medyagh/setup-minikube@latest

      - name: Verify cluster setup correctly
        run: kubectl get pods -A

      - name: Set up database cluster in k8s cluster
        run: ./scripts/database_k8s_setup.sh
        env:
          POSTGRES_PASS: ${{ secrets.POSTGRES_PASS }}

      - name: Uploading CSV data to database cluster
        run: |
          kubectl port-forward svc/sensor-db-ha-rw 5432:5432 &
          echo "Waiting for db tunnel to open..."
          until nc -z localhost 5432; do
            sleep 1
          done
          echo "Tunnel is open"

          ./scripts/dataset_download.sh
        env:
          POSTGRES_PASS: ${{ secrets.POSTGRES_PASS }}
        
      